module.exports = {
  // tells Jest to look for test files in the src directory
  roots: ["<rootDir>/src"],

  // tells Jest which files to consider as test files
  // testRegex: "(/tests/.*(\\.)(test))\\.js$",

  // prints the test results in a more detailed format
  verbose: true,

  testEnvironment: 'jsdom',
};
