/* Modals
 *******************************************************************************/

:root {
  --ae-box-shadow: 3px 3px 10px 3px;
  --ae-box-shadow-light-bg: var(--ae-box-shadow) var(--ae-dim-gray);
  --ae-box-shadow-dark-bg: var(--ae-box-shadow) var(--ae-carbon);
}

.ae-wrapper {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;

  &.ae-modal {

    /* Shared
     ------------------------------------------------------------------------------*/

    box-sizing: border-box;
    position: fixed;
    font-family: "Cantarell", sans-serif;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    h1 {
      color: var(--ae-mystic-white);
      font-size: 1.2rem;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      padding-bottom: 10px;
      text-transform: uppercase;
    }

    .ae-btn a, .ae-btn button, button.ae-btn {
      background-color: var(--ae-emerald-green);
      color: #000;
      cursor: pointer;

      font-size: 1em;
      font-family: system-ui;
      font-weight: 600;
      text-transform: uppercase;

      text-decoration: none;
      text-align: center;
      padding: 10px 25px;

      display: inline-block;

      border-width: 0;
      border-radius: 4px;
      box-shadow: var(--ae-box-shadow-light-bg);
      -webkit-box-shadow: var(--ae-box-shadow-light-bg);
      -moz-box-shadow: var(--ae-box-shadow-light-bg);

      &:focus-visible {
        outline-width: 0;
      }

      &:hover {
        background-color: var(--ae-near-black);
        color: var(--ae-near-white);
        text-decoration: none;

        box-shadow: var(--ae-box-shadow-dark-bg);
        -webkit-box-shadow: var(--ae-box-shadow-dark-bg);
        -moz-box-shadow: var(--ae-box-shadow-dark-bg);
      }

      &.disabled, &:disabled {
        opacity: 0.5;
        pointer-events: none;
        color: white;
      }
    }

    .ae-close-btn {
      color: var(--ae-basalt-gray);
      border-width: 0;
      font-size: 28px;
      font-weight: bold;
      text-decoration: none;
      margin: 0;
      margin-top: -10px;
      align-self: flex-end;
      float: right;

      /* for buttons */
      background-color: transparent;
      padding-inline: 0;
      padding-block: 0;

      &:focus-visible {
        outline-width: 0;
      }

      &:hover, &:active {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .ae-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 500px;
      max-width: 90%;

      border-radius: 15px;
      box-shadow: 0 3px 15px -2px #222;
      padding: 20px;

      background-color: var(--ae-black-russian);
      color: var(--ae-near-white);
      font-size: 1.1em;

      /* form element */
      block-size: auto;
    }

    .ae-copy {
      background-color: var(--ae-near-black);
      padding: 25px;
      margin: 20px;
      border-radius: 15px;
    }

    .ae-actions {
      display: flex;
      gap: 15px;
      margin: 30px 20px;
    }

    /* Error Modal
     ------------------------------------------------------------------------------*/

    &.ae-error {
      &.ae-content {
        width: unset;
      }

      .ae-content {
        border: 1px solid var(--ae-red);
      }

      .ae-actions {
        justify-content: center;

        a, button {
          background-color: var(--ae-basalt-gray);

          &:hover {
            background-color: var(--ae-near-black);
          }
        }
      }

      h1 {
        color: var(--ae-red);
        text-transform: none;
        font-weight: normal;
      }

    }

    /* Start Modal
     ------------------------------------------------------------------------------*/

    &#ae-start-modal {

      .ae-head {
        background-color: unset;
      }

      .ae-content {
        height: unset;

        .ae-actions {
          justify-content: center;
        }
      }

      ul {
        padding-left: 40px;
        margin: 30px 0;

        ::marker {
          font-size: 1.3em;
          color: var(--ae-light-green);

          /* NOTE: Double-escaped here because this will be embedded in JS. */
          content: "\\027B2   ";  /* ➲ */
        }
      }

      li {
        line-height: 1.7em;
      }

      span#ae-start-btn {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    /* Download Modal
     ------------------------------------------------------------------------------*/

    &#ae-download-modal {
      .ae-head {
        background-color: var(--ae-near-black);
        padding: 10px;
        border-radius: 10px 10px 0px 0px;
      }

      .ae-copy {
        background-color: transparent;
        padding: 0;
      }

      .ae-actions {
        flex-wrap: wrap;

        select {
          padding: 8px;
        }
      }

      .ae-download-btn a,
      .ae-download-btn button:enabled {
        position: relative;
        padding: 10px 25px;
        text-indent: 15px;

        &:before,
        &:after {
          content: " ";
          display: block;
          position: absolute;
          left: 14px;
          top: 52%;
        }

        /* Download box shape  */
        &:before {
          width: 10px;
          height: 2px;
          border-style: solid;
          border-width: 0 2px 2px;
        }

        /* Download arrow shape */
        &:after {
          width: 0;
          height: 0;
          margin-left: 1px;
          margin-top: -7px;

          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: transparent;
          border-top-color: inherit;
        }

        &:hover:before {
          border-color: var(--ae-emerald-green);
        }

        &:hover:after {
          animation: downloadArrow 2s linear infinite;
          animation-play-state: running;
          border-top-color: var(--ae-emerald-green);
        }
      }
    }
  }
}

/* Keyframes
 ------------------------------------------------------------------------------*/

@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen
   * on a nice looking frame by default */

  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}
